*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #172342;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card-container{
    background-color: #415795;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #415795;
    color: #172342;
    padding-top: 15px;
    position: relative;
    max-width: 400px;
    text-align: center;

}

.card-img{
    width: 170px;
    margin: auto;
}

.round{
    border: 3px solid #7493f4;
    border-radius: 50%;
    padding: 5px;
}

h3{
    margin: 10px 0;
}

h6{
    margin: 7px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
}

.buttons{
    margin-top: 10px;
}

.btn{
    background-color: #7493f4;
    border: 2px solid #415795;
    border-radius: 3px;
    color: #415795;
    font-weight: 500;
    padding: 10px 25px
    
    
}

.transp{
    background-color: transparent;
    color: white;
}

.skills{
    background-color: #172342;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    border-radius: 3px;
    
}

h4{
    margin-bottom: 15px;
    color: #415795 ;
}

ul{
    list-style: none; 
}

li{
    border: 2px solid #415795;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0px 7px 7px 0;
    padding: 7px;
    color: #415795;
    text-transform: uppercase;
    
}

.midias-sociais{
    text-align: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    padding: 3px;
    color: #415795;
}